* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: lightseagreen;
    color: #fff;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .First {
    color: white;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: bold;
}

.information {
    list-style: none;
    display: flex;
    gap: 25px;
}

.information li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.information li a:hover {
    color: #000;
    border-bottom: 2px solid #fff;
}

.contactinfo {
    font-weight: bold;
    letter-spacing: 1px;
    
}


.hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px;
        background-color: white;
        color: lightseagreen;
        min-height: 80vh;
    }
    .homeleft{
        
        flex-direction: column;
        gap: 20px;
        letter-spacing: 2px;
    }
    .profile-photoleft img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid lightseagreen;
        box-shadow: 0px 6px 15px grey;
    }

    .homeleft h1 {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 50px;
        font-weight: bold;
    }
    .homeleft para{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .bottom{
        display: block;
        padding-left: 12px 25px;
        background-color: white;
        align-content: center;
        justify-content: center;
        color: lightseagreen;
        font-weight: bold;
        text-decoration: none;
        border-radius: 15px;
        border: 2px solid lightseagreen;
        
    }
    .bottom:hover{
        background-color: #000;
        counter-reset: white;
    }
    .homeright{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-photoright{
        width: 300px;
        height: 400px;
        border-radius: 50%;
        border: 3px solid lightseagreen;

        box-shadow: 0px 6px 15px grey;
    } 
    .nextpage{
        background-color: #fbf5f5;
        height: 100vh;
        width: 100vw;
    }
